{% extends "network/layout.html" %}
{% load static %}

{% block body %}



<div id="post-list" class="posts">
    <ul>
        {% for post in object_list %}
            <li class="post">{{ post.content }} (Liked {{ post.like_set.count }} times)
                <button class="btn btn-sm btn-outline-primary like" data-post_id="{{post.pk}}">
                    Like
                </button>
            </li>
        {% endfor %}
    </ul>          
</div>
<script src="{% static 'network/post_list.js' %}"></script>

{% endblock %}