{% extends "network/layout.html" %}
{% load static %}

{% block body %}



<div id="post-list" class="posts">
    <h1>All Posts</h1>
    <ul>
        {% for post in object_list %}
            <li class="post">
                <div id="timestamp">{{post.timestamp}}</div><br>
                <a href="{% url 'posts' %}?user={{post.user.pk}}">{{post.user}}</a> said <br>
                <div class="post_content">
                    {{ post.content }} <br>
                    <div style="float: right;">(Liked {{ post.like_set.count }} times)</div><br>
                    
                </div>
                    <button class="btn btn-sm btn-outline-primary like" data-post_id="{{post.pk}}" 
                    style="display: {% if post.user_liked %} none {% else %} block {% endif %}">
                        Like
                    </button>
                    <button class="btn btn-sm btn-outline-primary unlike" data-post_id="{{post.pk}}" 
                    style="display: {% if post.user_liked %} block {% else %} none {% endif %}">
                        Unlike
                    </button>
            </li>
        {% endfor %}
    </ul>          
</div>
<script src="{% static 'network/post_list.js' %}"></script>

{% endblock %}