{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div id="user-view">
    <h3>{{ user.username }}</h3>
</div>

<div id="post-list" class="posts">
    <ul>
        {% for post in user.post_set.all %}
            <li class="post">At {{post.timestamp}} <a href="/{{post.user}}">{{post.user}}</a> said {{ post.content }} (Liked {{ post.like_set.count }} times)
                <div id="like">
                    <button class="btn btn-sm btn-outline-primary like" data-post_id="{{post.pk}}">
                        Like
                    </button>
                </div>
                <div id="unlike">
                    <button class="btn btn-sm btn-outline-primary unlike" data-post_id="{{post.pk}}">
                        Unlike
                    </button>
                </div>
            </li>
        {% endfor %}
    </ul>          
</div>
<script src="{% static 'network/user.js' %}"></script>

{% endblock %}