.post {
    width: 500px;
    margin: 50px auto;
    background-color: lightgray;
    padding: 20px;
    border:1px solid blue;
    position: relative;
    list-style-type: none;
}
.post_content {
    width: 400px;
    height: auto;
    border: none;
    padding: 5px 10px;
    font-family: arial;
    resize: none;
    outline: none;
    border-bottom: 2px solid blue;
}
.like {
    float: right;
    background-color: blue;
    color: white;
}
.unlike {
    float: right;
    background-color: blue;
    color: white;
}
#timestamp{
    float: right;
    font-size: smaller;
    font-style: italic;
}
